.Query {
  text-align: center;
}


.GoogleImg {
  display: flex;
  margin: 31vh auto 0;
  width: auto;
  max-height: 15vh;
}

.query-container {
  position: relative;
  height: 5vh;
  width: 50vw;
  margin: 2vh auto;
}

.Query input {
  width: 100%;
  height: 100%;
  padding: 5px 0 5px 12px; 
  border: .1px solid #ccc;
  box-shadow: 0px 4px 20px -8px rgba(0,0,0,0.75);
}

.Query input:hover {		 
  box-shadow: 0px 4px 40px -8px rgba(0,0,0,0.75);
  border: .1px solid grey;
}

.Query button {
  margin-left: 5px;
  border-radius: 1px;
  box-shadow: 0;
  border-style: none;
  color: grey;
  margin: 3vh 1vw;
  height: 6vh;
  width: 15vw;
  background-color: #f8f8f8;
}

.Query button:hover {
  border: 1px solid black;
  color: black;
  border-radius: 2px;
}

.autocomplete {
  position: absolute;
  top: 100%;
  list-style: none;
}

.QueryWithResults {

}

.QueryWithResults input {
  width: 100%;
  height: 100%;
  padding: 5px 0 5px 12px; 
  border: .1px solid #ccc;
  box-shadow: 0px 4px 20px -8px rgba(0,0,0,0.75);
}

.QueryWithResults input:hover {		 
  box-shadow: 0px 4px 40px -8px rgba(0,0,0,0.75);
  border: .1px solid grey;
}

.QueryWithResults button {
 display: none;
}

.GoogleImgWithResults {
  position: absolute;
  max-height: 7vh;
  left: 15px;
}

